.LogInBar {
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#loginJTron {
  background-color: #1DB954 !important;
}

#loginLink {
  color: black;
  text-decoration: none;
}
